.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.item {
	text-align: center;
	margin-left: 2rem;
	height: 120px;
	width: 100px;
}

.item > span {
	color:#dadada;
	text-transform:uppercase;
	text-align:center;
	font-size:12px;
}

.square {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 80px;
	background: #212121;
	border-radius: 2px;
	margin-bottom: 5px;
	padding-top: 5px;
	font-size: 60px;
	color: #fff;
	font-weight:700;
}

@media only screen and (max-width: 480px) {
	.item:first-child {
		margin-left: 0;
	}

	.square {
		font-size: 40px;
		height: 50px;
	}
}