.main {
    position:relative;
    max-width:816px;
    height: 100vh;
    margin:0 auto;
    z-index:99;
}

.inner {
    position: absolute;
    top: 10%;
    left: 10%;
    margin: -10px 0 0 -10px;
}

@media only screen and (max-width: 480px) {
    .main {
        padding-top: 0;
        height: 100%;
    }

    .inner {
        padding:42px 24px;
        position: relative;
        top: 0%;
        left: 0%;
        margin: 0;
    }
}