html {
  font-size: 100%;
}

body {
  display: block;
  margin: 0px;
  font-family: -apple-system, 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}